/* Universal Style */

body {
  margin: 0;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}



/* News Stories Styling */

.image-content {
  display: flex;
  flex-direction: column;
  height: 300px;
  margin-top: 15px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.stories .text-content {
  height: 250px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.narrative {
  margin-top: 16px;
}

/* Header Styling */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: solid black 1px;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img{
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

nav p {
  display:inline-block;
  padding: 10px;
}

header nav {
  padding-right: 80px;
}

.logo p {
  align-self: center;
  color: mediumaquamarine;
}

/* Content Styling*/

.content {
  display: flex;
  justify-content: space-between;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

/* Large Column */

.column.large {
  width: 630px;
}

.lead-story .image-content {
  background-image: url("../images/main.png");
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}

.fall.image-content {
  background-image: url("../images/fall.png");
}

.hipster.image-content {
  background-image: url("../images/hipster.png");
}

/* Medium Column */

.column.medium {
  width: 300px;
}

.cat.image-content {
  background-image: url("../images/catceo.png");
  display: flex;
  height: 300px;
}

/* Small Column */

.column.small {
  width: 240px;
}
